/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 以上是reset */

html{
	font-family: '微軟正黑體';
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1{
	font-size: 25px;
	font-weight: bold;
	color: #829886;
	display: block;
}

h2{
	font-size: 20px;
	font-weight: bold;
	color: #829886;
	display: block;
}

h3{
	font-size: 18px;
	font-weight: bold;
	color: #829886;
	display: block;
	line-height: 1.8em;
}

.container{
	width: 310px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.block{
	width: 298px;
	border: 1px solid #e7eeea;
	display: flex;
	flex-direction: column;
}

.order{
	margin-bottom: 17px;
}

.title{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e7eeea;
}

.order_content{
	display: flex;
	flex-direction: column;
}

.order_detail{
	padding: 18px;
	display: flex;
	flex-direction: column;
}

.order_fee{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.order_total{
	padding: 15px 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list_content{
	padding: 8px 0;
	display: flex;
	flex-direction: column;
}

.list_detail{
	display: flex;
	flex-direction: row;
}

.list_detail img{
	margin: 8px 16px;
}

.list_description{
	display: flex;
	flex-direction: column;
	justify-content: center;
}